<!-- Please Read banner-->
<mat-accordion class="accordion-container">
    <mat-expansion-panel >
        <mat-expansion-panel-header>
            <mat-panel-title> Please read! </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>Some of the functionalies added in this example are:
            <li>Reactive Forms with validation</li>
            <li>Material Design components</li>
        </ul>
        <ul>This is just a basic example, other options that could be implemented at a later stage might include:
            <li>Lazy loading for the different components</li>
        </ul>
    </mat-expansion-panel>
</mat-accordion>

<!-- Components -->
<div class="candidates-container">
    <add-candidate (submitted)="onSubmit($event)"></add-candidate>
    <show-candidates></show-candidates>
</div>