h1 {
  color: #ff4081;
}
.candidates-container {
    display: flex;
    margin-top: 20px;
  }
  
  add-candidate {
    flex: 0 0 40%;
    background: rgb(224, 224, 224);
  }
  
  show-candidates{
    flex: 0 0 60%;
  }