<mat-accordion class="accordion-container">
    <mat-expansion-panel >
        <mat-expansion-panel-header>
            <mat-panel-title> Please read! </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>Some of the functionalies added in this example are:
            <li>Reactive Forms with validation</li>
            <li>Material Design components</li>
        </ul>
        <ul>This is just a basic example, other options that could be implemented at a later stage might include:
            <li>Lazy loading for the different components</li>
        </ul>
    </mat-expansion-panel>
</mat-accordion>

<form [formGroup]="candidateForm" (ngSubmit)="onSubmit()" class="form-container">
    <h2>Add a new candidate</h2>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
            <mat-error *ngIf="candidateForm.get('name')?.hasError('required')">
                Name is required
            </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input matInput formControlName="surname">
        <mat-error *ngIf="candidateForm.get('surname')?.hasError('required')">
            Surname is required
        </mat-error>
    </mat-form-field>

    <label for="seniority">Seniority</label>
    <mat-radio-group formControlName="seniority">
        <mat-radio-button value="junior" [checked]="true">Junior</mat-radio-button>
        <mat-radio-button value="senior">Senior</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="fill">
        <mat-label>Years of Experience</mat-label>
        <input matInput type="number" formControlName="yearsOfExperience" [min]="0">
    </mat-form-field>
    <mat-error *ngIf="candidateForm.get('yearsOfExperience')?.hasError('required')">
        Please select years of experience
    </mat-error>

    <mat-slide-toggle formControlName="availability">Available for work</mat-slide-toggle>
    

    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="candidateForm.invalid">
        Submit
    </button>
</form>