.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
}

.accordion-container {
    mat-expansion-panel-header{
        background-color: #e2e2e2;
    }
    ul {
        font-size: 15px;
    }
    li {
        font-size: 13px;
        margin-left: 20px;
    }
}